.logo {
  height: 75px;
  width: 75px;
  background-color: gray;
  border-radius: 50%;
  background-image: url(https://picsum.photos/id/15/2500/1667);
  background-size: contain;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
